@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --red1: #FF0000;
    --green: #228B22;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

/* COMEÇO DO MENU LATERAL */

.container {
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

/* EFEITO MENU LATERAL */

.navigation.active {
    width: 80px;
}

/* EFEITO MENU LATERAL */

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* EFEITO DE CURVA AQUI */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* FIM DO MENU LATERAL */

/* INICIO DO PRINCIPAL */

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

/* EFEITO DO MENU LATERAL */
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}
/* EFEITO DO MENU LATERAL */

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
} 

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.details .formularioPerfil {
    position: relative;
    display: grid;
    min-height: 50px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details .table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details .table thead td {
    font-weight: 600;
}

.details .formularioPerfil thead tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-weight: 600;
}

.details .formularioPerfil table tr:last-child {
    border-bottom: none;
}

.details .formularioPerfil table tbody tr:hover {
    background: var(--blue);
    background: var(--white);
}

.details .formularioPerfil table tr td {
    padding: 10px;
}

.details .formularioPerfil table tr td:last-child {
    text-align: end;
}

.details .formularioPerfil tr td:nth-child(2) {
    text-align: end;
}

.details .formularioPerfil tr td:nth-child(3) {
    text-align: center;
}

.statusEntrada {
    padding: 2px 4px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.statusSaida {
    padding: 2px 4px;
    background-color: var(--red1);
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

/* INICIO CSS FORM */

.alinhaCards { 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 20px 40px;
}

.acessarOpcao {
    position: relative;
    text-decoration: none;
    color: var(--black1);
}

.cardOpcoesUsuario {
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    width: 400px;
    padding: 20px 40px;
    height: 80px;
    margin-top: 10px;
}

.cardOpcoesUsuario p {
    font-size: 15px;
    color: #6c6868;
}

.cardOpcoesUsuario .config-icon{
    font-size: 20px;
    margin-left: 10px;
}

.titleOpcoesUser{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 12px;
}

.titleOpcoesUser ion-icon{
    color: #909090;
}

.alinhaCards .cardOpcoesUsuario:hover {
    background: var(--blue) ;
}

.alinhaCards .cardOpcoesUsuario:hover,
.alinhaCards .cardOpcoesUsuario:hover p {
    color: var(--white) ;
}

/* delete */

.alinhaCards .cardOpcoesUsuario:last-child:hover {
    background: var(--red1) ;
}

.alinhaCards .cardOpcoesUsuario:hover,
.alinhaCards .cardOpcoesUsuario:hover p, 
.alinhaCards .cardOpcoesUsuario:hover a{
    color: var(--white) ;
}


/* Inicio das fotos */

.cardFoto {
    display: grid;
    grid-template-columns: 100px 290px 85px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    padding: 20px 40px;
    margin-top: 10px; 
}

.cardFoto img {
    border-radius: 100%;
    height: 80px;
    width: 80px;
}

.cardFoto button {
    background: transparent;
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 5px 10px;
    height: 45px;
    width: 100px;
    cursor: pointer;
}

.cardFoto button:hover {
    background: var(--blue);
    color: var(--white);
}

/* Fim detalhes da foto */

/* Inicio formulario */

.formularioPerfil {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    margin-top: 20px; 
    padding: 30px 2rem;
}

.inputForms {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

/* INICIO CSS DO INPUT */

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    position: relative;
}
  
.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}
  
.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}
  
.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
}
  
.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}

/* FIM CSS DO INPUT */

.botao-forms button {
    width: 100%;
    border-radius: 10px;
    height: 40px;
    margin-top: 5px;
    font-size: 18px;
    background: transparent;
    border: 1px solid var(--blue);
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.botao-forms button:hover {
    background: var(--blue);
    color: var(--white);
}

input[type=file]::file-selector-button {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid var(--blue);
    background: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: var(--blue);
    color: var(--white);
  }

/* Fim formulario */

/* Responsividade */
@media(max-width: 1880px){
    .cardFoto {
        grid-template-columns: 100px 270px 85px;
    }
}

@media(max-width: 1340px){
    .alinhaCards {
        display: block;
    }

    .tabsCards{
        display: flex;
        gap: 15px;
    }

    .cardOpcoesUsuario {
        border-radius: 20px;
        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
        width: 308px;
        padding: 20px 25px;
        height: 100px;
        margin-top: 10px;
    }
}

@media(max-width: 1240px){
    .cardOpcoesUsuario p{
        display: none;
    }

    .cardOpcoesUsuario {
        width: 299px;
        /* padding: 20px 25px; */
        height: 80px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 991px) {
    .formularioPerfil {
        left: -300px;
    }
    .navigation.active {
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 610px) {
    .cardOpcoesUsuario {
        width: 60px;
        height: 58px;
        border-radius: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titleOpcoesUser h3{
        display: none;
    }

    .inputForms {
        display: block;
    }

    .cardFoto {
        border-radius: 20px;
        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
        padding: 8px 16px;
        margin-top: 10px;
    }

    .cardFoto {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .mobileFoto input{
        width: 16rem;
    }    
}