/* Importando fonts do Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Modificações gerais e font*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '´Poppins', sans-serif;
}

/* Ajustes da classe container */
.global {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
}

/* Ajustes da classe forms gerais */
.form {
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
}

/* Ajustes da tag header */
header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

/* Ajustes da tag form */
form {
    margin-top: 30px;
}

/* Ajustes da classe field na tag form */
form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

/* Ajustes da classe field */
.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

/* Ajustes da classe field */
.field input {
    padding: 0 15px;
    border: 1px solid#CACACA;
}

/* Definindo posição icone de olho */
.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

/* Ajustes da classe de link */
.form-link {
    text-align: center;
    margin-top: 10px;
}

/* Ajustes da classe de texto e link */
.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

/* Ajustes da classe a (link) */
.form a {
    color: #0171d3;
    text-decoration: none;
}

/* Ajustes de link para quando passar o mouse */
.form a:hover {
    text-decoration: underline;
}

.flash-message {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.flash-message-erro {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #FF0000;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.Header-site {
    background-image: url(../img/2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.content-site {
    padding-top: 100px;
    padding-bottom: 200px;
}

.img-site {
    background-image: url(../img/1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand ion-icon {
    font-size: 34px;
    margin-right: 5px;
}

.navbar-brand .title {
    font-size: 18px;
    margin-top: 2px; /* Ajuste para alinhar verticalmente com o ícone */
}

/* Estilizando os links de login e registro quando passa o mouse */
.navbar-buttons .btn {
    background-color: #fff; /* Cor desejada ao passar o mouse (azul) */
    border-color: #fff;
    color: #000; /* Cor do texto ao passar o mouse (branco) */
    border-radius: 10px;
}

.navbar-buttons .btn:hover {
    background-color: #007bff; /* Cor desejada ao passar o mouse (azul) */
    border-color: #007bff;
    color: #fff; /* Cor do texto ao passar o mouse (branco) */
}